/* Now this is a comment in CSS */

body {
	background-color: orange;
	font-family: "Comic Sans MS";
	font-size: 16px;
}

h1 {
	text-align: center;
	font-size: 56px;
}

h2 {
	text-align: center;
	font-size: 36px;
}

/*
  Example:
  
  body {
	background-color: orange;
	font-family: "Comic Sans MS";
	font-size: 16px;
  };

  Lines 3-7 => Rule
  `background-color: orange;` => declaration
  `background-color` => key
  `orange` => value
  `body` => selector
*/

h2 {
	font-size: 8px;
	background-color: blue;
	color: white;
	border-style: dashed;
}